body {
    font-family: 'Noto Sans', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #121212;
    color: #e0e0e0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 16px;
    line-height: 1.5;
}

.container {
    width: 90%;
    max-width: 800px;
    height: calc(100vh - 40px);
    padding: 20px;
    background: #1e1e1e;
    border-radius: 8px;
    box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
}

#conversation {
    flex: 1;
    overflow-y: auto;
    padding: 10px;
    background-color: #121212;
    border-radius: 4px;
    box-shadow: inset 0 1px 6px rgb(0 0 0 / 69%);
    scroll-behavior: smooth; /* smooth scrolling */
}

#conversation::-webkit-scrollbar {
    width: 12px;
}

#conversation::-webkit-scrollbar-thumb {
    background-color: #555;
    border-radius: 6px;
}

#conversation::-webkit-scrollbar-track {
    background: #222;
}

.bot1, .bot2 {
    display: flex;
    align-items: flex-start;
    padding: 12px 15px;
    margin-bottom: 10px;
    border-radius: 10px;
    border-left: 5px solid;
    word-wrap: break-word;
}

.bot1 {
    border-color: #03A9F4;
    background-color: #2a2a2a;
    box-shadow: 6px 6px 10px -8px black;
}

.bot2 {
    border-color: #4CAF50;
    background-color: #202020;
    box-shadow: 6px 6px 10px -8px black;
}

.pause-button {
    display: none;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    background-color: #b52222;
    color: white;
    font-size: 16px;
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    box-shadow: 4px 4px 10px -5px black;
}

.pause-button:hover {
    background-color: #a32a2a;
}

.bot1 p, .bot2 p {
    margin: 0; 
    padding: 0;
}

.bot1 h1, .bot2 h1,
.bot1 h2, .bot2 h2 {
    margin-top: 0;
}
